
// Body
$body-bg: rgb(40,40,40);

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$yellow-green: #8DC63F;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$lightest-grey: #ACACAC;
$lighter-grey: #979797;
$light-grey: #818181;
$grey: #6B6B6B;
$dark-grey: #565656;
$darker-grey: #404040;
$darkest-grey: #2B2B2B;
$black: #151515;