@import 'normalize.css';

@import 'base.css';


body {
    background-color: rgb(40,40,40);
    color: #FFF;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
}

.pageWrapper {
    position: relative;
    min-height: 100vh;
    padding: 10px;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 50vw;
}

.aboutContent {
    text-align: left;
}

.home-profile {
    padding: 2rem;
    margin: 0 auto;
    max-width: 38rem;
    height: 75vh;
}

.home-profile>p {
    line-height: 25px;
    font-size: 23px;
}

.profile {
    width: 76rem;
    margin: 0;
}

.cases {
    padding: 0;
}



a, a.nameplate-icon {
    color: #acacac;
    text-decoration: none;
}

a::selection {
    text-decoration: underline;
}

aside {
    float: right;
    position: relative;
}

footer {
    display: block;
    font-size: .8em;
    text-align: center;
    /* sticky footer
    position: absolute;
    bottom: 0; */
    width: 100%;
    height: 55px;
    line-height: 60px; /* Vertically center the text there */
}

/* Form Styles */
form {
    align-items: start;
    margin: 0 auto;
    padding: 15px;
    /* Width of form */
    width: 500px;
}

header {
    display: block;
    margin: 0;
    padding: 5px;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

input {
    display: block;
    margin-bottom: 15px;
    width: 400px;
}

input[type=checkbox] {
    width: 16px;
    display: inline-block;
}

label {
    display: block;
}

ul li {
    list-style-type: none;
}

.case-list>li {
    font-size: 2rem;
}

/* Nav Modules */
nav {
    font-size: .8em;
    display: inline-block;
}

nav ul {
    margin-left: 60px;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
}

.footerBody>ul>li {
    display: inline-block;
    padding: 7.5px;
}


/* Button Modules */
.btn {
    display: block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 30px;
    font-size: 1.313em;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}

.btn-primary {
    background: #8DC63F;
    border-color: #8DC63F;
    color: white;
    width: 250px;
}

.btn-primary:hover {
    background: none;
    border-color: white;
    text-decoration: none;
}

.btn-login {
    background: #8DC63F;
    border-color: #8DC63F;
    color: white;
    margin: 10px 10px 10px 0;
    width: 300px;
}

.btn-login:hover {
    background: none;
    border-color: white;
    text-decoration: none;
}

/* Dashboard nameplate styles */
.nameplate {
    height: 75px;
    width: 100%;
    display: block;
    padding: 20px;
    border: 2px ridge #4C4C4C;
    margin: 0;
}

.nameplate-contents {
    display: inline;
    margin: 0 0 0 20px;
}

.nameplate-icon {
    display: inline;
    height: 75px;
    width: 75px;
    font-size: 1.5em;
}

.form-check-label, .form-check-input {
    display: inline-block;
    margin: 0;
}

/* Text decoration for selected link */
.link-selected {
    text-decoration: underline;
}

/* Alert Styles */
.alert-error {
    background-color: #e3342f;
    color: #FFFFFF;
    height: 50px;
}

.alert-success {
    background-color: deepskyblue;
    height: 50px;
}

.title-icon {
    display: inline-block;
    width: 250px;
    height: 50px;
    padding-left: 15px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border-radius: 10px;
}

.title-icon:hover {
    background-color: #4C4C4C;
}


#header-title {
    display: inline-block;
    font-family: 'AdlerRegular', Helvetica, sans-serif;
    margin: 0 auto;
    position: relative;
}

#header-title-link {
    color: #FFFFFF;
}

#logout {
    height: 42px;
    margin: 0 auto;
    padding: 0;
    width: 100px;
}

.image-row {
    width: 100%;
}

.image-container {
    display: inline-block;
}

.confirm-delete-content {
    margin: 0 auto;
    width: 250px;
}

.form-container {
    width: calc(100% / 6);
    margin: 0 auto;
}

.minimal-text-input {
    background-color: inherit !important;
    color: #ffff !important;
    padding-top: 10px;
    width: 300px;
    border-color: rgb(40,40,40) rgb(40,40,40) #ffff;
    border-width: 0 0 1px;
}

.minimal-text-input:hover {
    border-bottom-color: #2779bd;
}

.minimal-text-input:focus {
    border-color: rgb(40,40,40) rgb(40,40,40) #2779bd;
}


/* Mobile */
@media(max-device-width:880px), (max-width: 880px) {
    .container {
        padding: 0;
        width: 100vw;
        font-size: 1.5rem;
    }
    .home-profile {
        width: 100vw;
        padding: 30px 20px;
        font-size:2rem;
        height: 100%;
    }
    .pageWrapper {
        padding: 0;
    }

    footer {
        font-size: 16px;
    }
}

/* Small Screens */
@media(max-device-width: 1265px), (max-width: 1265px) and (min-width: 881px) {
    .container {
        width: 100vw;
        padding: 5px;
    }
    .aboutContent {
        padding: 5px;
    }

}

@media(min-device-width: 1266px), (min-width: 1266px) {

}



