/***************************
****************************
Reset Styles
****************************
***************************/
@import 'normalize.css';

@import 'base.css';





/***************************
****************************
Base Styles
****************************
***************************/
a {
    color: aliceblue;
    font-weight: bold;
}

a:visited {
    color: #87a4bd;
}

a:hover {
    text-decoration: underline;
}

aside {
    float: right;
    position: relative;
}

body {
    background-color: #262626;
    color: aliceblue;
    font-family: 'DINNextLTProLightCondensed', Helvetica, sans-serif;
    font-weight: normal;
}

form {
    align-items: start;
    margin: inherit;
    padding: 5px;
    /* Width of form */
    width: 500px;
}

footer {
    text-align: center;
    /* sticky footer
    position: absolute;
    bottom: 0; */
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

h1, h2, h3 {
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

input {
    display: block;
}

label {
    display: block;
}



/***************************
****************************
Module Styles
****************************
***************************/

/* Button Modules */

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 30px;
    font-size: 1.313em;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}

.btn-primary {
    background: #8DC63F;
    border-color: #8DC63F;
    color: white;
}

.btn-primary:hover {
    background: none;
    border-color: white;
    text-decoration: none;
}

/* Header Modules */

.header-primary {
    background-color: #323232;
    font-size: .8em;
    height: 80px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

/* List Modules */

ul li {
    list-style-type: none;
}

.case-list {
    font-size: 1.75em;
}

/* Nav Modules */

nav {
    display: block;

}

nav ul li {
    display: inline-block;
    padding: 15px;
}

/***************************
****************************
Theme Styles
****************************
***************************/
/*
.welcome-background {
    background-image: url("https://c.o0bg.com/rf/image_371w/Boston/2011-2020/2018/11/20/BostonGlobe.com/Spotlight/Images/IMG_1156.jpg");
}



#home-profile {
    color: #32E219;

} */

/* Alert Styles */
.alert-error {
    background-color: #e3342f;
    color: #FFFFFF;
}

.alert-success {
    background-color: deepskyblue;
}


